@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
	--text-color: #e0def4;
	--bg-color: #191724;
	--link-color: #0000ff;
	--text-size: 16px;
}

body {
	font-family: "Google Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-size: var(--text-size);
	font-variation-settings: "GRAD" 0;
	background-color: var(--bg-color);
	color: var(--text-color);
}

#discord-link {
	text-decoration: underline;
}

.fake-link {
	text-decoration: underline;
	cursor: pointer;
	color: var(--link-color);
}

.rust-img {
	width: 200px;
	background-color: white;
}

.carousel-container {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
	background-color: var(--bg-color);
}

.carousel-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform: translateX(100%);
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-slide.active {
	transform: translateX(0);
}

.carousel-slide.prev-slide {
	transform: translateX(-100%);
}

.carousel-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 8px;
	box-sizing: border-box;
}

.vertpad {
	height: 10px;
}

nav {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;
	display: flex;
	gap: 5px;
}
